In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
def type_to_df(df):
    df = df[['location','session_key','year','air_temperature','humidity','pressure','rainfall','track_temperature','wind_speed']]
    df_list = df.session_key.to_list()
    driver_df = albon_avg[albon_avg.session_key.isin(df_list)]
    driver_df = driver_df.merge(df, on = 'session_key', how = 'inner')
    return driver_df

In [3]:
albon_laps = pd.read_csv('../data/albon_laps.csv') # reads in Albon's lap stats
albon_laps = albon_laps[['session_key','driver_number','i1_speed','i2_speed','st_speed','lap_duration','duration_sector_1','duration_sector_2','duration_sector_3']]
# reduces df to only necessary columns
albon_avg = albon_laps.groupby(['session_key','driver_number']).agg({'i1_speed':'mean','i2_speed':'mean','st_speed':'mean','lap_duration':'mean','duration_sector_1':'mean','duration_sector_2':'mean','duration_sector_3':'mean'})
# avgerages out all the lap data by each race
albon_avg = albon_avg.reset_index()
albon_avg

,session_key,driver_number,i1_speed,i2_speed,st_speed,lap_duration,duration_sector_1,duration_sector_2,duration_sector_3
0,7779,23,274.714286,284.666667,298.925926,104.613885,38.602231,32.257704,33.635778
1,7787,23,252.857143,257.333333,243.428571,102.293600,35.353833,22.237333,43.935667
2,7953,23,230.555556,247.087719,304.531915,100.358161,32.573589,43.321526,24.506000
3,9070,23,185.580000,199.196078,315.490196,110.657480,39.680120,44.809314,26.166157
4,9078,23,211.076923,184.526316,319.192982,93.352786,32.119393,35.224316,26.052263
5,9094,23,169.150685,171.649351,275.675325,85.744395,22.485368,40.567442,22.690818
6,9102,23,259.600000,265.061538,304.500000,81.458953,24.604844,32.480585,24.429354
7,9110,23,246.705882,275.971429,309.285714,81.304145,22.712377,26.066514,32.522057
8,9118,23,301.676923,223.338028,297.746479,73.004629,18.579229,32.208549,22.436056
9,9126,23,286.958333,245.961538,297.615385,98.695137,31.985588,39.630212,27.068788
10,9133,23,271.660377,235.101449,292.478261,85.605412,31.009838,30.683435,23.977623
11,9141,23,330.317073,184.863636,313.638889,114.564535,32.888977,51.135182,30.557341
12,9149,23,263.545455,251.541667,276.550000,120.637887,64.050479,30.306194,26.334125
13,9157,23,315.875000,313.568627,320.446809,87.509280,28.667020,30.101392,28.759647
14,9165,23,294.694915,261.564516,286.942308,104.225541,30.430803,44.616694,29.218097
15,9173,23,265.473684,284.923077,263.615385,110.608880,42.606360,47.394885,21.897115
16,9181,23,280.676471,278.591549,327.672414,104.375014,48.120157,33.562155,22.716930
17,9189,23,171.190476,199.000000,278.640000,107.741286,30.820571,36.011240,40.886520
18,9197,23,288.976190,305.879310,313.310345,91.143561,18.951228,38.372431,33.880000
19,9205,23,NaN,NaN,229.000000,NaN,NaN,NaN,NaN
20,9213,23,205.913043,178.053571,302.285714,103.503782,28.461691,41.120500,33.967911
21,9221,23,222.425532,268.175439,294.619048,93.138732,35.035839,30.741035,27.804158
22,9472,23,231.395349,253.785714,298.750000,98.413455,31.880364,42.436839,24.129321
23,9480,23,278.484848,304.740000,314.920000,98.530633,36.667878,30.876320,30.982000
24,9488,23,269.560000,304.210526,296.425532,84.573214,29.373893,18.528860,36.702018
25,9507,23,205.811321,177.228070,320.719298,96.821589,33.407179,36.616123,26.804368
26,9515,23,210.733333,252.862745,279.058824,85.934340,28.277960,29.160098,28.508451
27,9523,23,185.171429,175.311688,276.558442,80.984066,21.346368,37.857987,22.011816
28,9531,23,213.755102,268.711538,301.500000,91.632412,26.913904,28.958654,35.879365
29,9539,23,262.783333,264.153846,303.557692,82.257125,24.673547,32.917615,24.681785
30,9550,23,298.704918,223.814286,301.285714,72.364594,18.294725,32.272329,21.838571
31,9558,23,298.644444,253.211538,308.096154,96.350157,31.318941,38.725231,26.318096
32,9566,23,269.586207,234.529412,290.904762,85.689940,30.986896,30.653926,24.084015
33,9574,23,325.975610,198.139535,314.156250,110.416951,31.772452,49.266000,29.420690
34,9582,23,282.040000,266.923077,306.137931,77.166547,26.550156,27.731000,22.932523
35,9590,23,314.309524,317.547170,326.531915,85.696500,28.055038,29.233340,28.474887
36,9598,23,186.617021,200.784314,316.509804,110.927120,40.274780,44.575431,26.099784
37,9606,23,282.428571,259.533333,280.071429,103.566571,31.122286,43.060467,29.463333
38,9617,23,207.843137,176.509091,300.290909,104.008556,28.317759,41.246491,34.473655
39,9625,23,NaN,NaN,320.000000,NaN,NaN,NaN,NaN
40,9644,23,175.454545,205.360000,304.291667,100.786417,29.395667,33.709320,37.801320
41,9655,23,220.414634,258.155556,286.250000,99.443909,37.082750,32.664489,30.316822
42,9662,23,287.755556,297.472727,309.872727,91.169574,18.535315,38.979345,33.721618
43,9673,23,260.565217,253.285714,295.553571,109.249018,29.195855,32.861929,47.148393

In [4]:
rain_race = pd.read_csv('../data/rain_race.csv') # reads in csv of all the rain races
albon_rain = type_to_df(rain_race)
albon_rain

,session_key,driver_number,i1_speed,i2_speed,st_speed,lap_duration,duration_sector_1,duration_sector_2,duration_sector_3,location,year,air_temperature,humidity,pressure,rainfall,track_temperature,wind_speed
0,9094,23,169.150685,171.649351,275.675325,85.744395,22.485368,40.567442,22.690818,Monaco,2023,77.118636,45.863636,1013.359659,1,102.660227,2.249710
1,9118,23,301.676923,223.338028,297.746479,73.004629,18.579229,32.208549,22.436056,Spielberg,2023,72.316471,52.045752,934.015686,1,89.697647,2.454852
2,9141,23,330.317073,184.863636,313.638889,114.564535,32.888977,51.135182,30.557341,Spa-Francorchamps,2023,64.172000,61.926667,966.627333,1,82.833200,3.567269
3,9149,23,263.545455,251.541667,276.550000,120.637887,64.050479,30.306194,26.334125,Zandvoort,2023,62.225359,70.775120,1007.824402,1,76.894067,6.311765
4,9205,23,NaN,NaN,229.000000,NaN,NaN,NaN,NaN,São Paulo,2023,68.828197,58.174863,927.900546,1,116.196721,2.928881
5,9531,23,213.755102,268.711538,301.500000,91.632412,26.913904,28.958654,35.879365,Montréal,2024,62.810545,75.703030,996.332727,1,73.665091,2.687112
6,9539,23,262.783333,264.153846,303.557692,82.257125,24.673547,32.917615,24.681785,Barcelona,2024,75.423567,63.433121,1001.353503,1,105.931847,4.740445
7,9550,23,298.704918,223.814286,301.285714,72.364594,18.294725,32.272329,21.838571,Spielberg,2024,84.966573,35.006993,932.862937,1,115.557762,3.730941
8,9558,23,298.644444,253.211538,308.096154,96.350157,31.318941,38.725231,26.318096,Silverstone,2024,60.387347,67.333333,992.126531,1,81.806122,3.016146

In [5]:
hot_race = pd.read_csv('../data/hot_race.csv') # reads in csv of all the hot races
albon_hot = type_to_df(hot_race)
albon_hot

,session_key,driver_number,i1_speed,i2_speed,st_speed,lap_duration,duration_sector_1,duration_sector_2,duration_sector_3,location,year,air_temperature,humidity,pressure,rainfall,track_temperature,wind_speed
0,9133,23,271.660377,235.101449,292.478261,85.605412,31.009838,30.683435,23.977623,Budapest,2023,83.855366,32.804878,988.401829,0,119.442683,3.223190
1,9157,23,315.875000,313.568627,320.446809,87.509280,28.667020,30.101392,28.759647,Monza,2023,84.794231,42.320513,1000.561538,0,109.270769,2.549606
2,9165,23,294.694915,261.564516,286.942308,104.225541,30.430803,44.616694,29.218097,Marina Bay,2023,85.719773,72.028409,1008.978409,0,97.559886,3.167389
3,9213,23,205.913043,178.053571,302.285714,103.503782,28.461691,41.120500,33.967911,Austin,2023,85.928214,41.910714,993.730952,0,105.131429,7.414057
4,9221,23,222.425532,268.175439,294.619048,93.138732,35.035839,30.741035,27.804158,Lusail,2023,88.628228,73.177215,1009.776582,0,98.465570,1.986399
5,9507,23,205.811321,177.228070,320.719298,96.821589,33.407179,36.616123,26.804368,Miami,2024,83.339452,59.047945,1016.451370,0,112.272603,6.867284
6,9550,23,298.704918,223.814286,301.285714,72.364594,18.294725,32.272329,21.838571,Spielberg,2024,84.966573,35.006993,932.862937,1,115.557762,3.730941
7,9566,23,269.586207,234.529412,290.904762,85.689940,30.986896,30.653926,24.084015,Budapest,2024,83.882968,46.922581,981.676774,0,112.849032,2.795528
8,9590,23,314.309524,317.547170,326.531915,85.696500,28.055038,29.233340,28.474887,Monza,2024,91.582707,32.285714,993.228571,0,120.760301,3.397549
9,9606,23,282.428571,259.533333,280.071429,103.566571,31.122286,43.060467,29.463333,Marina Bay,2024,87.415250,74.650000,1008.024375,0,97.602125,2.136335

In [6]:
cold_race = pd.read_csv('../data/cold_race.csv') # reads in csv of all the cold races
albon_cold = type_to_df(cold_race)
albon_cold

,session_key,driver_number,i1_speed,i2_speed,st_speed,lap_duration,duration_sector_1,duration_sector_2,duration_sector_3,location,year,air_temperature,humidity,pressure,rainfall,track_temperature,wind_speed
0,7787,23,252.857143,257.333333,243.428571,102.293600,35.353833,22.237333,43.935667,Melbourne,2023,63.409189,54.157658,1018.366667,0,86.251351,2.521159
1,9110,23,246.705882,275.971429,309.285714,81.304145,22.712377,26.066514,32.522057,Montréal,2023,65.354444,63.901235,1011.552469,0,87.067778,4.344199
2,9141,23,330.317073,184.863636,313.638889,114.564535,32.888977,51.135182,30.557341,Spa-Francorchamps,2023,64.172000,61.926667,966.627333,1,82.833200,3.567269
3,9149,23,263.545455,251.541667,276.550000,120.637887,64.050479,30.306194,26.334125,Zandvoort,2023,62.225359,70.775120,1007.824402,1,76.894067,6.311765
4,9189,23,171.190476,199.000000,278.640000,107.741286,30.820571,36.011240,40.886520,Las Vegas,2023,64.490000,47.361111,939.781481,0,64.390000,5.147171
5,9472,23,231.395349,253.785714,298.750000,98.413455,31.880364,42.436839,24.129321,Sakhir,2024,64.809299,48.821656,1017.185987,0,74.575159,1.758254
6,9531,23,213.755102,268.711538,301.500000,91.632412,26.913904,28.958654,35.879365,Montréal,2024,62.810545,75.703030,996.332727,1,73.665091,2.687112
7,9558,23,298.644444,253.211538,308.096154,96.350157,31.318941,38.725231,26.318096,Silverstone,2024,60.387347,67.333333,992.126531,1,81.806122,3.016146
8,9644,23,175.454545,205.360000,304.291667,100.786417,29.395667,33.709320,37.801320,Las Vegas,2024,65.450435,51.033816,961.326087,0,68.084348,6.770437
9,9673,23,260.565217,253.285714,295.553571,109.249018,29.195855,32.861929,47.148393,Shanghai,2024,65.550909,66.060606,1011.452121,0,85.626909,3.758160

In [7]:
windy_race = pd.read_csv('../data/windy_race.csv') # reads in csv of all the windy races
albon_windy = type_to_df(windy_race)
albon_windy

,session_key,driver_number,i1_speed,i2_speed,st_speed,lap_duration,duration_sector_1,duration_sector_2,duration_sector_3,location,year,air_temperature,humidity,pressure,rainfall,track_temperature,wind_speed
0,9078,23,211.076923,184.526316,319.192982,93.352786,32.119393,35.224316,26.052263,Miami,2023,80.811355,59.425806,1018.378710,0,98.040258,8.881612
1,9126,23,286.958333,245.961538,297.615385,98.695137,31.985588,39.630212,27.068788,Silverstone,2023,70.652318,56.185430,1001.225828,0,87.693907,6.764332
2,9149,23,263.545455,251.541667,276.550000,120.637887,64.050479,30.306194,26.334125,Zandvoort,2023,62.225359,70.775120,1007.824402,1,76.894067,6.311765
3,9189,23,171.190476,199.000000,278.640000,107.741286,30.820571,36.011240,40.886520,Las Vegas,2023,64.490000,47.361111,939.781481,0,64.390000,5.147171
4,9213,23,205.913043,178.053571,302.285714,103.503782,28.461691,41.120500,33.967911,Austin,2023,85.928214,41.910714,993.730952,0,105.131429,7.414057
5,9507,23,205.811321,177.228070,320.719298,96.821589,33.407179,36.616123,26.804368,Miami,2024,83.339452,59.047945,1016.451370,0,112.272603,6.867284
6,9582,23,282.040000,266.923077,306.137931,77.166547,26.550156,27.731000,22.932523,Zandvoort,2024,66.176575,61.047945,1019.978767,0,87.347534,10.135449
7,9625,23,NaN,NaN,320.000000,NaN,NaN,NaN,NaN,Mexico City,2024,67.799623,51.050314,785.252830,0,96.084528,4.811660
8,9644,23,175.454545,205.360000,304.291667,100.786417,29.395667,33.709320,37.801320,Las Vegas,2024,65.450435,51.033816,961.326087,0,68.084348,6.770437

In [8]:
avg_race = pd.read_csv('../data/avg_race.csv') # reads in csv of all the average weather races
albon_avg_weather = type_to_df(avg_race)
albon_avg_weather

,session_key,driver_number,i1_speed,i2_speed,st_speed,lap_duration,duration_sector_1,duration_sector_2,duration_sector_3,location,year,air_temperature,humidity,pressure,rainfall,track_temperature,wind_speed
0,7779,23,274.714286,284.666667,298.925926,104.613885,38.602231,32.257704,33.635778,Jeddah,2023,78.965405,57.790541,1010.929730,0,89.226622,3.964629
1,9070,23,185.580000,199.196078,315.490196,110.657480,39.680120,44.809314,26.166157,Baku,2023,76.749125,49.225000,1008.646250,0,106.178000,2.422951
2,9102,23,259.600000,265.061538,304.500000,81.458953,24.604844,32.480585,24.429354,Barcelona,2023,72.813247,63.077922,1001.090909,0,92.910130,4.182028
3,9126,23,286.958333,245.961538,297.615385,98.695137,31.985588,39.630212,27.068788,Silverstone,2023,70.652318,56.185430,1001.225828,0,87.693907,6.764332
4,9181,23,280.676471,278.591549,327.672414,104.375014,48.120157,33.562155,22.716930,Mexico City,2023,77.985263,23.552632,779.520526,0,114.151053,3.333130
5,9480,23,278.484848,304.740000,314.920000,98.530633,36.667878,30.876320,30.982000,Jeddah,2024,77.950548,62.335616,1012.682877,0,88.867671,2.914229
6,9515,23,210.733333,252.862745,279.058824,85.934340,28.277960,29.160098,28.508451,Imola,2024,77.205175,48.426573,1006.634266,0,107.642797,4.789996
7,9523,23,185.171429,175.311688,276.558442,80.984066,21.346368,37.857987,22.011816,Monaco,2024,70.873700,63.990000,1018.743500,0,115.372400,2.191142
8,9574,23,325.975610,198.139535,314.156250,110.416951,31.772452,49.266000,29.420690,Spa-Francorchamps,2024,70.389333,49.622222,978.096296,0,108.064000,3.764788
9,9598,23,186.617021,200.784314,316.509804,110.927120,40.274780,44.575431,26.099784,Baku,2024,80.070658,38.019737,1017.640132,0,111.828816,3.470293

In [9]:
albon_avg_weather.to_csv('../data/clean/albon_avg_weather.csv')
albon_windy.to_csv('../data/clean/albon_windy.csv')
albon_cold.to_csv('../data/clean/albon_cold.csv')
albon_hot.to_csv('../data/clean/albon_hot.csv')
albon_rain.to_csv('../data/clean/albon_rain.csv')