In [1]:
import requests
import pandas as pd
import numpy as np

In [2]:
dsw = pd.read_csv('../data/Combined_CSVs/dsw_laps.csv') # reads in csv created in Combined CSVs Notebook

In [3]:
r9094 = dsw[dsw.session_key == 9094] # limits df to only data from session 9094 (Monaco 2023 Race)
r9094.sort_values(['track_temperature']) # sorts the data by track temeratures

,Unnamed: 0,session_key,date_start,driver_number,i1_speed,i2_speed,st_speed,lap_duration,duration_sector_1,duration_sector_2,...,location,session_name,year,air_temperature,humidity,pressure,rainfall,track_temperature,wind_direction,wind_speed
328,328,9094,14:31:00,4,143.0,136.0,272.0,98.750,26.002,46.358,...,Monaco,Race,2023,73.40,66.0,1013.2,1,80.96,141,3.5792
2904,2904,9094,14:31:56,23,130.0,140.0,251.0,97.428,26.313,46.601,...,Monaco,Race,2023,73.40,66.0,1013.2,1,80.96,141,3.5792
5131,5131,9094,14:31:46,16,NaN,135.0,262.0,98.481,25.992,46.864,...,Monaco,Race,2023,73.40,66.0,1013.2,1,80.96,141,3.5792
330,330,9094,14:34:17,4,151.0,137.0,267.0,96.981,25.530,46.535,...,Monaco,Race,2023,73.76,66.0,1013.2,1,81.14,142,3.8029
2906,2906,9094,14:35:09,23,144.0,144.0,276.0,94.016,24.897,45.799,...,Monaco,Race,2023,73.58,65.0,1013.2,1,81.32,152,3.8029
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,268,9094,13:07:18,4,186.0,181.0,280.0,80.209,21.263,37.700,...,Monaco,Race,2023,77.72,45.0,1013.5,0,109.04,115,2.2370
267,267,9094,13:05:57,4,185.0,179.0,281.0,80.396,21.368,37.710,...,Monaco,Race,2023,77.36,45.0,1013.5,0,109.04,66,1.7896
5068,5068,9094,13:04:33,16,192.0,182.0,279.0,80.549,21.352,37.692,...,Monaco,Race,2023,77.36,44.0,1013.4,0,109.58,48,2.2370
2842,2842,9094,13:04:38,23,172.0,178.0,277.0,80.977,21.337,37.926,...,Monaco,Race,2023,77.36,44.0,1013.4,0,109.58,48,2.2370
266,266,9094,13:04:36,4,175.0,171.0,277.0,81.610,21.769,38.014,...,Monaco,Race,2023,77.36,44.0,1013.4,0,109.58,48,2.2370

In [4]:
race_weather = dsw.groupby(['session_key']).agg({'air_temperature':'mean', 'humidity':'mean', 'pressure':'mean','rainfall':'max','track_temperature':'mean','wind_direction':'mean','wind_speed':'mean'})
# returns the averages for each weather type parameter by session key(race)

In [5]:
race_weather = race_weather.reset_index()
race_weather

,session_key,air_temperature,humidity,pressure,rainfall,track_temperature,wind_direction,wind_speed
0,7779,79.083065,56.572581,1011.067742,0,87.890000,236.314516,2.834135
1,7787,63.900000,53.873016,1018.326984,0,88.357143,134.841270,2.673748
2,7953,80.183221,21.087248,1016.999329,0,85.899732,183.651007,1.133513
3,9070,77.361200,48.380000,1008.333333,0,104.522000,137.973333,2.332445
4,9078,80.831429,59.410714,1018.162500,0,94.846786,138.827381,8.918706
5,9094,76.621921,47.139738,1013.308297,1,96.508384,133.537118,2.550571
6,9102,71.666218,65.253886,1001.266839,0,86.326425,79.937824,4.443864
7,9110,66.277647,62.274510,1011.500980,0,87.557353,324.799020,4.265652
8,9118,72.824857,52.133333,933.992857,0,89.934286,117.276190,2.384003
9,9126,69.850588,59.679739,1001.226797,0,85.751765,206.666667,5.645135
10,9133,84.522427,32.446602,988.165049,0,118.434951,175.019417,3.430429
11,9141,64.518605,61.434109,966.703101,1,83.842791,138.449612,3.516772
12,9149,62.408132,68.230769,1007.771429,1,78.189780,167.093407,5.771952
13,9157,85.761589,40.735099,1000.283444,0,109.180662,164.443709,3.188095
14,9165,85.700000,73.535519,1009.451366,0,96.483279,171.245902,3.610983
15,9173,81.059070,42.031008,1012.868992,0,104.731163,120.651163,3.211569
16,9181,78.850571,21.709524,779.064286,0,112.498571,256.519048,3.289455
17,9189,64.520583,47.456311,939.742718,0,64.277670,213.825243,5.249349
18,9197,80.011579,51.988304,1015.164327,0,89.534737,284.970760,3.729642
19,9205,68.696857,58.128571,927.771429,0,113.563143,178.142857,3.115821
20,9213,86.769091,39.248485,993.293333,0,106.124000,112.321212,7.513608
21,9221,88.281071,74.589286,1009.851190,0,97.829643,146.130952,1.948054
22,9472,64.403234,49.976048,1017.282036,0,73.036766,99.383234,1.212266
23,9480,77.929388,62.931973,1012.929932,0,87.693469,162.809524,2.205043
24,9488,70.207647,43.264706,1020.233529,0,101.354000,125.382353,2.396222
25,9496,70.016346,46.240385,1012.544231,0,95.697500,186.269231,5.228988
26,9507,83.244286,60.202381,1016.390476,0,110.514286,155.422619,6.916058
27,9515,77.778966,46.586207,1006.415517,0,106.708276,129.224138,5.903623
28,9523,71.320526,61.289474,1018.570175,0,112.190000,169.219298,2.098659
29,9531,63.753789,73.913043,996.207453,1,75.605839,146.472050,2.368997
30,9539,75.448660,63.010309,1001.256701,1,106.042165,186.010309,3.435063
31,9550,85.525941,34.282178,932.866337,0,115.594851,213.589109,3.171667
32,9558,60.142763,67.717105,992.257237,1,75.119474,233.105263,3.320179
33,9566,84.659220,45.834146,981.562439,0,112.861268,197.243902,2.808799
34,9574,70.903906,48.734375,978.050000,0,109.456250,142.726562,3.746975
35,9582,66.695692,58.328205,1019.965641,0,88.778462,216.743590,10.219075
36,9590,90.992692,31.500000,992.993590,0,115.663077,191.512821,3.527577
37,9598,79.703600,36.893333,1017.636667,0,109.984400,113.586667,3.874484
38,9606,87.486324,74.433824,1008.346324,0,96.674265,200.919118,2.505111
39,9617,83.512927,33.756098,1006.014024,0,116.843659,224.353659,3.224554
40,9625,68.628714,50.000000,784.854286,0,95.992571,291.235714,4.998097
41,9636,70.144118,85.433824,926.116912,1,76.482500,188.926471,1.750124
42,9644,63.666721,47.622951,936.009016,0,63.109016,241.237705,6.912697
43,9655,65.498667,58.088889,1015.591852,0,72.272000,117.429630,2.651259
44,9662,79.530843,55.078313,1017.616265,0,87.167831,111.969880,4.213915
45,9673,65.387305,66.574850,1011.356287,0,84.517964,140.419162,4.439172

In [6]:
race_weather.describe()

,session_key,air_temperature,humidity,pressure,rainfall,track_temperature,wind_direction,wind_speed
count,46.000000,46.000000,46.000000,46.000000,46.000000,46.000000,46.000000,46.000000
mean,9283.217391,74.919174,53.022412,987.117027,0.152174,95.035742,174.083252,3.867089
std,440.141892,8.504696,14.133345,52.123395,0.363158,14.785085,53.518048,1.912356
min,7779.000000,60.142763,21.087248,779.064286,0.000000,63.109016,79.937824,1.133513
25%,9143.000000,67.178948,45.935706,989.188096,0.000000,86.006405,135.624286,2.575743
50%,9476.000000,76.035291,53.003175,1008.052381,0.000000,95.845036,168.156352,3.375304
75%,9572.000000,81.002159,62.064409,1014.700320,0.000000,108.562566,205.229779,4.442691
max,9673.000000,90.992692,85.433824,1020.233529,1.000000,118.434951,324.799020,10.219075

In [7]:
rain = race_weather[race_weather.rainfall != 0] # returns df by session key (race) where rain equals 1 (indicates it was raining)
rain

,session_key,air_temperature,humidity,pressure,rainfall,track_temperature,wind_direction,wind_speed
5,9094,76.621921,47.139738,1013.308297,1,96.508384,133.537118,2.550571
11,9141,64.518605,61.434109,966.703101,1,83.842791,138.449612,3.516772
12,9149,62.408132,68.230769,1007.771429,1,78.189780,167.093407,5.771952
29,9531,63.753789,73.913043,996.207453,1,75.605839,146.472050,2.368997
30,9539,75.448660,63.010309,1001.256701,1,106.042165,186.010309,3.435063
32,9558,60.142763,67.717105,992.257237,1,75.119474,233.105263,3.320179
41,9636,70.144118,85.433824,926.116912,1,76.482500,188.926471,1.750124

In [8]:
hot = race_weather.sort_values('air_temperature', ascending = False).reset_index(drop=True).head(10)
# returns df's top 10 hottest air temperature by session key (race)
hot

,session_key,air_temperature,humidity,pressure,rainfall,track_temperature,wind_direction,wind_speed
0,9590,90.992692,31.500000,992.993590,0,115.663077,191.512821,3.527577
1,9221,88.281071,74.589286,1009.851190,0,97.829643,146.130952,1.948054
2,9606,87.486324,74.433824,1008.346324,0,96.674265,200.919118,2.505111
3,9213,86.769091,39.248485,993.293333,0,106.124000,112.321212,7.513608
4,9157,85.761589,40.735099,1000.283444,0,109.180662,164.443709,3.188095
5,9165,85.700000,73.535519,1009.451366,0,96.483279,171.245902,3.610983
6,9550,85.525941,34.282178,932.866337,0,115.594851,213.589109,3.171667
7,9566,84.659220,45.834146,981.562439,0,112.861268,197.243902,2.808799
8,9133,84.522427,32.446602,988.165049,0,118.434951,175.019417,3.430429
9,9617,83.512927,33.756098,1006.014024,0,116.843659,224.353659,3.224554

In [9]:
cold = race_weather.sort_values('air_temperature', ascending = True).reset_index(drop=True).head(10)
# returns df's top 10 coldest air temperature by session key (race)
cold

,session_key,air_temperature,humidity,pressure,rainfall,track_temperature,wind_direction,wind_speed
0,9558,60.142763,67.717105,992.257237,1,75.119474,233.105263,3.320179
1,9149,62.408132,68.230769,1007.771429,1,78.189780,167.093407,5.771952
2,9644,63.666721,47.622951,936.009016,0,63.109016,241.237705,6.912697
3,9531,63.753789,73.913043,996.207453,1,75.605839,146.472050,2.368997
4,7787,63.900000,53.873016,1018.326984,0,88.357143,134.841270,2.673748
5,9472,64.403234,49.976048,1017.282036,0,73.036766,99.383234,1.212266
6,9141,64.518605,61.434109,966.703101,1,83.842791,138.449612,3.516772
7,9189,64.520583,47.456311,939.742718,0,64.277670,213.825243,5.249349
8,9673,65.387305,66.574850,1011.356287,0,84.517964,140.419162,4.439172
9,9655,65.498667,58.088889,1015.591852,0,72.272000,117.429630,2.651259

In [10]:
wind = race_weather.sort_values('wind_speed', ascending = False).reset_index(drop=True).head(10)
# returns df's top 10 windiest by session key (race)
wind

,session_key,air_temperature,humidity,pressure,rainfall,track_temperature,wind_direction,wind_speed
0,9582,66.695692,58.328205,1019.965641,0,88.778462,216.743590,10.219075
1,9078,80.831429,59.410714,1018.162500,0,94.846786,138.827381,8.918706
2,9213,86.769091,39.248485,993.293333,0,106.124000,112.321212,7.513608
3,9507,83.244286,60.202381,1016.390476,0,110.514286,155.422619,6.916058
4,9644,63.666721,47.622951,936.009016,0,63.109016,241.237705,6.912697
5,9515,77.778966,46.586207,1006.415517,0,106.708276,129.224138,5.903623
6,9149,62.408132,68.230769,1007.771429,1,78.189780,167.093407,5.771952
7,9126,69.850588,59.679739,1001.226797,0,85.751765,206.666667,5.645135
8,9189,64.520583,47.456311,939.742718,0,64.277670,213.825243,5.249349
9,9496,70.016346,46.240385,1012.544231,0,95.697500,186.269231,5.228988

In [11]:
avg_race = race_weather.iloc[(race_weather['air_temperature']-74.869).abs().argsort()[:15]]
# returns df's most average races by air temp by finding the mean and using it to find races with deviation of less than 15 degrees
avg_race = avg_race[avg_race.rainfall == 0] # returns previous df where it was also not raining
avg_race

,session_key,air_temperature,humidity,pressure,rainfall,track_temperature,wind_direction,wind_speed
8,9118,72.824857,52.133333,933.992857,0,89.934286,117.276190,2.384003
3,9070,77.361200,48.380000,1008.333333,0,104.522000,137.973333,2.332445
27,9515,77.778966,46.586207,1006.415517,0,106.708276,129.224138,5.903623
23,9480,77.929388,62.931973,1012.929932,0,87.693469,162.809524,2.205043
6,9102,71.666218,65.253886,1001.266839,0,86.326425,79.937824,4.443864
28,9523,71.320526,61.289474,1018.570175,0,112.190000,169.219298,2.098659
34,9574,70.903906,48.734375,978.050000,0,109.456250,142.726562,3.746975
16,9181,78.850571,21.709524,779.064286,0,112.498571,256.519048,3.289455
0,7779,79.083065,56.572581,1011.067742,0,87.890000,236.314516,2.834135
24,9488,70.207647,43.264706,1020.233529,0,101.354000,125.382353,2.396222
44,9662,79.530843,55.078313,1017.616265,0,87.167831,111.969880,4.213915
37,9598,79.703600,36.893333,1017.636667,0,109.984400,113.586667,3.874484

In [12]:
track_temp_diff = dsw.groupby(['session_key'])['track_temperature'].agg(lambda x: x.max() - x.min()).reset_index()
# returns the session keys (races) and the difference in the min and max track temperatures 
track_temp_diff.head()

   session_key  track_temperature
0         7779               3.96
1         7787              18.18
2         7953               4.50
3         9070              14.76
4         9078              10.26

In [13]:
top_track_temp_diff = track_temp_diff.sort_values('track_temperature', ascending = False).head()
# returns the previous df's top 5 races with the largest track temp variance
top_track_temp_diff

    session_key  track_temperature
5          9094              28.62
19         9205              24.66
32         9558              22.14
16         9181              20.34
12         9149              19.26

In [28]:
monaco = dsw[dsw.session_key == 9094] # returns the dsw df that pertains to session key 9094 (Monaco 2023 Race)
monaco.head()

,Unnamed: 0,session_key,date_start,driver_number,i1_speed,i2_speed,st_speed,lap_duration,duration_sector_1,duration_sector_2,...,location,session_name,year,air_temperature,humidity,pressure,rainfall,track_temperature,wind_direction,wind_speed
266,266,9094,13:04:36,4,175.0,171.0,277.0,81.610,21.769,38.014,...,Monaco,Race,2023,77.36,44.0,1013.4,0,109.58,48,2.2370
267,267,9094,13:05:57,4,185.0,179.0,281.0,80.396,21.368,37.710,...,Monaco,Race,2023,77.36,45.0,1013.5,0,109.04,66,1.7896
268,268,9094,13:07:18,4,186.0,181.0,280.0,80.209,21.263,37.700,...,Monaco,Race,2023,77.72,45.0,1013.5,0,109.04,115,2.2370
269,269,9094,13:08:38,4,NaN,183.0,281.0,79.502,21.144,37.306,...,Monaco,Race,2023,77.90,44.0,1013.5,0,108.32,161,2.9081
270,270,9094,13:09:58,4,190.0,183.0,280.0,79.045,21.042,37.149,...,Monaco,Race,2023,77.72,44.0,1013.5,0,108.32,132,2.2370

In [30]:
monaco = monaco[monaco.driver_number == 4] # returns previous df that also only pertains tp driver number 4 (Lando Norris)

In [34]:
monaco_laps = monaco[['lap_number','date_start','rainfall','track_temperature']] 
# slices df to only include selected columns
monaco_laps.tail(50)

     lap_number date_start  rainfall  track_temperature
292          28   13:38:56         0             102.38
293          29   13:40:15         0             102.02
294          30   13:41:34         0             101.84
295          31   13:42:52         0             101.48
296          32   13:44:11         0             101.12
297          33   13:45:28         0             101.12
298          34   13:46:46         0             101.12
299          35   13:48:05         0             100.22
300          36   13:49:23         0             100.22
301          37   13:50:41         0              99.68
302          38   13:51:59         0              99.50
303          39   13:53:17         0              98.24
304          40   13:54:35         0              98.06
305          41   13:55:54         0              98.24
306          42   13:57:12         0              97.70
307          43   13:58:30         0              97.52
308          44   13:59:49         0              97.34
309          45   14:01:07         0              96.98
310          46   14:02:24         0              96.98
311          47   14:03:42         0              96.80
312          48   14:05:00         0              96.62
313          49   14:06:19         0              96.44
314          50   14:07:37         0              96.44
315          51   14:09:13         0              96.26
316          52   14:10:41         0              95.54
317          53   14:12:09         1              95.18
318          54   14:13:41         1              94.82
319          55   14:15:54         1              94.10
320          56   14:17:37         1              93.02
321          57   14:19:17         1              89.06
322          58   14:20:58         1              88.34
323          59   14:22:40         1              85.46
324          60   14:24:21         1              85.10
325          61   14:26:03         1              83.66
326          62   14:27:42         1              83.12
327          63   14:29:21         1              81.86
328          64   14:31:00         1              80.96
329          65   14:32:38         1              81.32
330          66   14:34:17         1              81.14
331          67   14:35:54         1              81.32
332          68   14:37:27         1              81.86
333          69   14:38:58         0              82.04
334          70   14:40:28         0              82.76
335          71   14:41:56         0              83.66
336          72   14:43:25         0              84.56
337          73   14:44:51         0              85.28
338          74   14:46:16         0              86.00
339          75   14:47:42         0              86.54
340          76   14:49:07         0              87.26
341          77   14:50:33         0              87.26